@import './vars.scss';
.add {
  padding: 2%;
}
.add__header {
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 3%;
  text-align: center;
}
.add__container {
  @include shadow--small;
  min-height: 70%;
  padding: 1%;
  margin-top: 2%;
  -webkit-border-radius: $rounding;
  -moz-border-radius: $rounding;
  border-radius: $rounding;
}
.notification__form {
  padding-top: 5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;

  .input {

    margin-top: 4%;
    padding: 1%;
    font-size: 0.8rem;
    width: 100%;
    border: none;
    background: none;
    margin-bottom: 1%;
    border-bottom: 1px $primary solid;
    @include transition;
    &:hover{
      border-bottom: $checked solid 1.2px;
      //width: 102%;
    }
    &:focus {
      outline: none;
      border-bottom: $checked solid 1.2px;
      //width: 102%;
    }
  }
  .btn {
    width: 50%;
    align-self: center;
    font-size: 1rem;
  }
}