@import './vars.scss';

body, html, #app, .page {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: sans-serif;
  color: $primary;
}

#app {
  overflow: hidden;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 92% 8%;
}
.stomprocketBranding {
  display: block;
  text-decoration: none;
  color: $primary;
  margin-top: auto;
  img {
    margin-top: 1%;
    width: 80%;
  }

}
.app__nav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  @include shadow--large;
  padding: 5%;
  display: flex;
  flex-direction: column;
  .nav__header {
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
  }
  .nav__search {
    margin-bottom: 5%;
    border: none;
    padding: 5%;
    font-size: 0.8rem;
    @include shadow--small;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    @include transition;
    &:focus {
      outline: none;
      width: 100%;
      @include shadow--medium;
    }
    &:hover {
      width: 100%;
      @include shadow--medium;
    }
    margin-top: 5%;
  }
  .checkboxRow {
    display: flex;
    margin: 1% 0;
    position: relative;
    margin: $md-checkbox-margin;
    text-align: left;

    &.md-checkbox-inline {
      display: inline-block;
    }

    label {
      cursor: pointer;
      display: inline;
      line-height: $md-checkbox-size;
      vertical-align: top;
      clear: both;
      padding-left: 1px;
      &:not(:empty) {
        padding-left: $md-checkbox-label-padding;
      }

      &:before, &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
      }

      &:before {
        // box
        width: $md-checkbox-size;
        height: $md-checkbox-size;
        background: #fff;
        border: $md-checkbox-border-width solid $md-checkbox-border-color;
        border-radius: $md-checkbox-border-radius;
        cursor: pointer;
        transition: background .3s;
      }

      &:after {
        // checkmark
      }
    }

    input[type="checkbox"] {
      outline: 0;
      visibility: hidden;
      width: $md-checkbox-size;
      margin: 0;
      display: block;
      float: left;
      font-size: inherit;

      &:checked {
        + label:before{
          background: $md-checkbox-checked-color;
          border:none;
        }
        + label:after {

          $md-checkmark-size: $md-checkbox-size - 2 * $md-checkbox-padding;

          transform: translate($md-checkbox-padding, ($md-checkbox-size / 2) - ($md-checkmark-size / 2.6)) rotate(-45deg);
          width: $md-checkmark-size;
          height: $md-checkmark-size / 2;

          border: $md-checkmark-width solid $md-checkmark-color;
          border-top-style: none;
          border-right-style: none;
        }
      }

      &:disabled {
        + label:before{
          border-color: $md-checkbox-border-color-disabled;
        }
        &:checked {
          + label:before{
            background: $md-checkbox-checked-color-disabled;
          }
        }
      }
    }
  }
  /*
  .checkboxRow__label {

  }
  .checkboxRow__checkbox {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 0.125em;
    margin-right: 1%;
    &:focus {
      outline: none;
    }
    &:checked {
      background: $checked;
      border: none;
    }
  }
  */

  //background: red;
}

.app__footer {
  // background: blue;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border-top: solid 2px $light;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__quote {
  margin: 1%;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}
.page {
  //background: orange;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  overflow-y: scroll;
}

.auth {
  //background: indianred;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}