@import './vars.scss';

body, html, #app, .page {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: sans-serif;
  color: $primary;
}

#app {
  overflow: hidden;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 92% 8%;
}
.stomprocketBranding {
  display: block;
  text-decoration: none;
  color: $primary;
  margin-top: auto;
  img {
    margin-top: 1%;
    width: 80%;
  }

}
.app__nav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  @include shadow--large;
  padding: 5%;
  display: flex;
  flex-direction: column;
  .nav__header {
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
  }
  .nav__search {
    border: none;
    padding: 5%;
    font-size: 0.8rem;
    @include shadow--small;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    @include transition;
    &:focus {
      outline: none;
      width: 100%;
      @include shadow--medium;
    }
    &:hover {
      width: 100%;
      @include shadow--medium;
    }
    margin-top: 5%;
  }
  //background: red;
}

.app__footer {
  // background: blue;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border-top: solid 2px $light;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__quote {
  margin: 1%;
  font-size: 1rem;
  text-align: center;
}
.page {
  //background: orange;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  overflow-y: scroll;
}

.auth {
  //background: indianred;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}