@import './vars.scss';

.home {
  padding: 2%;
  overflow-y: scroll;
}

.person {
  @include shadow--small;
  display: flex;
  align-items: center;
  padding: 2%;
  border-radius: $rounding;
  height: 6vh;
  margin: 1% 0;
}
.person__name {
  font-weight: 600;
  margin-right: 0 1%;
}
.person__email {
  margin: 0 1%;
}