@import './vars.scss';
.add .checkboxRow {
  margin-top: 2%;
}
.notificationTitle {
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 3%;
  text-align: center;
}
.personSubmit {
  margin-top: 2%;
}
.notifications__container {
  @include shadow--small;
  min-height: 70%;
  padding: 1%;
  margin-top: 2%;
  -webkit-border-radius: $rounding;
  -moz-border-radius: $rounding;
  border-radius: $rounding;

}
.notification__form {
  padding-top: 5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;

  .input {

    margin-top: 4%;
    padding: 1%;
    font-size: 0.8rem;
    width: 100%;
    border: none;
    background: none;
    margin-bottom: 1%;
    border-bottom: 1px $primary solid;
    @include transition;
    &:hover{
      border-bottom: $checked solid 1.2px;
      //width: 102%;
    }
    &:focus {
      outline: none;
      border-bottom: $checked solid 1.2px;
      //width: 102%;
    }
  }
  .btn {
    width: 50%;
    align-self: center;
    font-size: 1rem;
  }
}
.person.page {
  padding: 2%;
  .person__name {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    span {
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
  .person__school {
    text-align: center;
    font-size: 1.5rem;
  }
  .info {
    @include shadow--small;
    -webkit-border-radius: $rounding;
    -moz-border-radius: $rounding;
    border-radius: $rounding;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 50%;
    padding: 2%;
    margin-top: 5%;
    p {
      margin: 1% 0;
    }
  }
  .checkboxRow {
    p {
      margin-right: 1%;
    }
    display: flex;
  }
  .checkbox {
    display: flex;

    position: relative;
    margin: 1% 0%;
    text-align: left;

    &.md-checkbox-inline {
      display: inline-block;
    }
    .checkbox__auth {
      font-style: italic;
      font-weight: 300;
      font-size: 0.8rem;
    }
    label {
      cursor: pointer;
      display: inline;
      line-height: $md-checkbox-size;
      vertical-align: top;
      clear: both;
      padding-left: 1px;
      &:not(:empty) {
        padding-left: $md-checkbox-label-padding;
      }

      &:before, &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
      }

      &:before {
        // box
        width: $md-checkbox-size;
        height: $md-checkbox-size;
        background: #fff;
        border: $md-checkbox-border-width solid $md-checkbox-border-color;
        border-radius: $md-checkbox-border-radius;
        cursor: pointer;
        transition: background .3s;
      }

      &:after {
        // checkmark
      }
    }

    input[type="checkbox"] {
      outline: 0;
      visibility: hidden;
      width: $md-checkbox-size;
      margin: 0;
      display: block;
      float: left;
      font-size: inherit;

      &:checked {
        + label:before {
          background: $md-checkbox-checked-color;
          border: none;
        }
        + label:after {

          $md-checkmark-size: $md-checkbox-size - 2 * $md-checkbox-padding;

          transform: translate($md-checkbox-padding, ($md-checkbox-size / 2) - ($md-checkmark-size / 2.6)) rotate(-45deg);
          width: $md-checkmark-size;
          height: $md-checkmark-size / 2;

          border: $md-checkmark-width solid $md-checkmark-color;
          border-top-style: none;
          border-right-style: none;
        }
      }
      /*
            &:disabled {
              + label:before{
                border-color: $md-checkbox-border-color-disabled;
              }
              &:checked {
                + label:before{
                  background: $md-checkbox-checked-color-disabled;
                }
              }
            }
            */
    }
  }
}
