@import './vars.scss';

.stats {
  padding: 2%;
  .chart__container {
    @include shadow--small;
    -webkit-border-radius: $rounding;
    -moz-border-radius: $rounding;
    border-radius: $rounding;
    margin-top: 2%;
    padding: 2%;


  }
  .stat__block {
    display: flex;
    justify-content: space-between;
  }
  .stat {
    @include shadow--small;
    -webkit-border-radius: $rounding;
    -moz-border-radius: $rounding;
    border-radius: $rounding;

    padding: 5%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    b {
      font-size: 4rem;
    }
    p {
      margin-top: 1%;
    }
  }
}
.stats__heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 2%;

}
.chart__heading {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
  margin: 2%;
}